---
import Navbar from "~/components/navbar.astro"
import Sidebar from "~/components/sidebar.astro"

import "@fontsource/inter/latin.css"
import "~/styles/global.css"

export interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL("/screenshot.jpg", Astro.site)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content="E-K Fotos" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <script is:inline>
      const root = document.documentElement
      const theme = localStorage.getItem("theme")
      if (theme === "dark") {
        root.classList.add("dark")
      } else {
        root.classList.remove("dark")
      }
    </script>
  </head>
  <body>
    <Navbar />
    <div
      class="container flex-1 py-6 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10"
    >
      <Sidebar />
      <div>
        <slot />
      </div>
    </div>
  </body>
</html>
