---
import Navbar from "~/components/navbar.astro"

import "@fontsource/inter/latin.css"
import "~/styles/global.css"

export interface Props {
  title?: string
  description?: string
}
const {
  title = "solid/ui",
  description = "A SolidJS port of the shadcn/ui components using Kobalte."
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL("/screenshot.png", Astro.site)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- making this script inline prevents theme flickering on load -->
    <script is:inline>
      const root = document.documentElement
      const theme = localStorage.getItem("theme")
      if (theme === "dark") {
        root.classList.add("dark")
      } else {
        root.classList.remove("dark")
      }
    </script>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
